* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #FBFAFE; */
}

/* header starts from here --> */
/* nav starts from here */
header {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.logo {
    padding: 30px 100px;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 80px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #35414B;
    list-style: none;
}

.login {
    margin-left: 80px;
    color: #35414B;
}

.btn-1 {
    position: absolute;
    width: 160px;
    height: 48px;
    right: 90px;
    top: 20px;
    border: none;
    background: #ECE6FF;
    border-radius: 4px;
    color: #35414B;

}

.bar {
    display: none;
}

#check {
    display: none;
}

/* nav ends from here */

/* container-1 starts from here */
.save {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-right: 100px;
    padding: 20px;
}

.btn-2 {
    border: none;
    background: #81C43B;
    border-radius: 100px;
    margin-left: 100px;
    text-align: center;
    padding: 10px 20px;

}

.btn-3 {
    background: #F2F9EB;
    border-radius: 0px 100px 100px 0px;
    border: none;
    padding: 10px 30px;

}

.text-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    text-align: center;
    color: #35414B;
    width: 55%;
    margin: 0 auto;
}

.para-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #4E5A65;
    width: 40%;
    margin: 0 auto;
}

.text-2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: 50px;
}

.mail {
    box-sizing: border-box;
    width: 319px;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid #E1E5EA;
    border-radius: 4px 0px 0px 4px;
}

.btn-4 {
    box-sizing: border-box;
    width: 160px;
    height: 50px;
    background: #794CFF;
    border: 1px solid #794CFF;
    border-radius: 0px 4px 4px 0px;
}

.img {
    width: 950px;
    height: 650.29px;
    margin-left: 100px;
}

.para-2 {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #4E5A65;
}

.text-3>img {
    padding: 20px;
    margin-left: 90px;
}

/* container-2 css starts from here */
.container-2 {
    box-sizing: border-box;
    background: #FBFAFE;
    border: 1px solid #F0EBFA;
    width: 100%;
    display: flex;

}

.i1 {
    width: 600px;
    height: 500px;
}

.box-1 {
    margin-top: 80px;
    margin-left: 60px;
    box-sizing: border-box;
    width: 362px;
    height: 100px;
    left: 902px;
    top: 1591px;
    background: #F6F3FC;
    border: 1px solid #F6F3FC;
    border-radius: 0px 8px 8px 0px;
}

.para-4 {
    width: 153px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #35414B;
    background: #F6F3FC;

}

.line {
    position: absolute;
    width: 8px;
    height: 100px;
    left: 760px;
    top: 1272px;
    background: #794CFF;

}

.para-5 {
    margin-top: 10px;
    width: 308px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4E5A65;
    background: #F6F3FC;

}

.box-2 {
    margin-left: 60px;
    box-sizing: border-box;
    width: 372px;
    height: 100px;
    left: 902px;
    top: 1591px;
    /* background: #F6F3FC; */
    border: 1px solid #F6F3FC;
    border-radius: 0px 8px 8px 0px;
}

.para-6 {
    width: 253px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #35414B;
}

.para-7 {
    margin-top: 10px;
    width: 308px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4E5A65;
}

/* container-2 css ends here */
/* <!-- container-3 css starts here */
.container-3 {
    margin-top: 80px;
    background:white;
    width: 100%;
    
}

.para-8 {
    width: 436px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #35414B;
    margin: 0 auto;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 48px;
    padding: 35px;
}

.grid img {
    margin-top: 50px;
}

.para-9 {
    /* width: 213px; */
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    color: #35414B;
}

.para-10 {
    /* width: 306px; */
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4E5A65;
}

/* container-3 css ends here */
/* <!-- container-4 css starts here */

.para-11 {
    width: 394px;
    height: 96px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin: 0 auto;
    color: #35414B;
    margin-top: 50px;

}

.para-12 {
    width: 543px;
    height: 96px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    margin: 10px auto;
    color: #4E5A65;


}

.ppl {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}

.e1 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 121px;
    top: 2589px;
}

.e2 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 532px;
    top: 2589px;
}

.e3 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 941px;
    top: 2589px;
}

.n2 {
    width: 129px;
    height: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #4E5A65;


}

.n1 {
    width: 163px;
    height: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #4E5A65;


}

/* container-4 ends here */
/* container-5 starts here */
.box {
    width: 1110px;
    height: 224px;
    background: #796EFF;
    border-radius: 16px;
    margin: 50px auto;

}
.container-5{
    position: relative;
}

.emp {
    width: 423px;
    height: 96px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    background: #796EFF;
    padding: 45px 29px;

}

.p1 {
    position: absolute;
    right: 15%;
}

.p2 {
    position: absolute;
    right: 29%;
}

/* container-5 ends here */

/* footer starts here */
footer {
    background: #1D2830;
    display: flex;
    color: white;
    height: 400px;
    padding: 100px;
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.ab li {
    list-style: none;
    padding: 7px;
    align-items: center;
}

.i9 {
    padding: 7px;
}

.lineg {
    background: #FFFFFF;
    opacity: 0.1;
    height: 2px;
}

/* media query starts from here */
/* // Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
    header {
        width: 100%;
        margin: 0 auto;
        overflow-x: hidden;
    }

    nav {
        position: relative;
        overflow-x: hidden;

    }

    .menu1,
    .login,
    .btn-1 {
        display: none;
    }

    #check {
        display: none;
        opacity: 0.2;
        position: absolute;
        right: 19%;
        height: 20px;
        width: 20px;

    }

    input:checked~li {
        display: block;
        height: 100px;
        width: 100px;

    }

    .bar {
        display: none;
        color: black;
        margin-left: 400px;
        padding-left: 100px;
    }

    /* navbar ends here */
    /* container-1 starts here */

    .img {
        padding-right: 100px;
    }

    /* container-1 ends here */
    /* container-2 starts here */
    .container-2 {
        padding: 20px;
    }

    .para-3 {
        margin-right: 50px;
    }
    .e1 {
        position: absolute;
        width: 48px;
        height: 48px;
        left: 24px;
    top: 2797px;
    }
    
    .e2 {
        position: absolute;
        width: 48px;
        height: 48px;
        left: 357px;
        top: 2797px;
    }
    
    .e3 {
        position: absolute;
        width: 48px;
        height: 48px;
        left: 689px;
        top: 2797px;
    }
    .p1 {
        position: absolute;
        right: 9%;
    }
}
/* media query for 768px starts from here */

@media (max-width: 768px) {

    .img {
        width: 950px;
        height: 650.29px;
        margin-left: 0px;
    }
    .container-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left:50px;
        padding: 35px;
        align-items: center;
    }
    .e1 {
        position: absolute;
        width: 48px;
        height: 48px;
        left: 4px;
    top: 3455px;
    }
    
    .e2 {
        position: absolute;
        width: 48px;
        height: 48px;
        left: 271px;
        top: 3455px;
    }
    
    .e3 {
        position: absolute;
        width: 48px;
        height: 48px;
        left: 530px;
        top: 3455px;
    }
    .ppl>div{
        padding-left: 50px;
    }

    .p1 {
        position: absolute;
        right: 11%;
        top: 61%;
    }
    
    .p2 {
        position: absolute;
        right: 11%;
        top: 18%;
    }
  
}
/* for mobile devices */
/* media query for 576px starts from here */
@media (max-width: 576px) {
.bar{
    display: block;
}
.text-1{
font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 40px;
    text-align: center;
    color: #35414B;
    width: 55%;
    margin: 0 auto;

}
.para-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #4E5A65;
    width: 52%;
    margin: 0 auto;
}
.text-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail {
    box-sizing: border-box;
    width: 319px;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid #E1E5EA;
    border-radius: 4px 0px 0px 4px;
    text-align: center;
    margin-left: 70px;
}
.btn-4{
    width:319px ;
    margin-left: 70px;
    margin-top: 12px;

}
.img {
    width: 595px;
    height: 350.29px;
    margin-left: 44px;
}
.text-3>img {
    margin-left: -10px;
}
.i1 {
    width: 420px;
    height: 310px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 35px;
    align-items: center;
    text-align: center;
}
.grid-1{
margin: 0 auto;
}
.para-12{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 26px;
    font-weight: 300;

}
.ppl {
    display: flex;
    justify-content: space-around;
    /* margin-top: 90px; */
    flex-direction: column;
    align-items: center;
}
.n2{
    padding-top: 60px;
}
.n1{
    padding-top: 20px;
}
.e1{
    left: 165px;
    top: 3479px;
}
.e2{
    left: 166px;
    top: 3557px;
}
.e3{
    left: 166px;
    top: 3637px;
}
.emp{
    text-align: center;
    margin-left: 80px;
}
.box{
    width: 594px;
    height: 324px; 
}
.p2 {
    position: absolute;
    right: 32%;
    top: 47%;
}
.p1 {
    position: absolute;
    right: 32%;
    top: 69%;
}
footer{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
}
.list2,.list3{
    display: none;
}
}